@charset "utf-8";
body {
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 25px 0 0;
    vertical-align: baseline;
    background: #fff;
    text-shadow: 0px 0px 1px #ACACAC;
}
h1 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    margin: 0 0 10px;
}
a {
    color: #0d63e3;
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
}
a: link {
 text-decoration: none;
}
a: visited {
 text-decoration: none;
}
a: hover {
 background-color: #C4E1FF;
}
a: active {
 text-decoration: none;
}
.header, .links {
    width: 700px;
    margin: 15px auto;
    padding: 2px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.search {
    width: 700px;
    margin: 15px auto;
    padding: 8px 4px;
    text-align: center;
    background: #f8f8f8;
    border: 2px solid #f2f2f2;
}
.search div{
    margin: auto;
}
#search-input {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    width: 360px;
    height: 24px;
    line-height: 24px;
    padding: 4px 6px;
    margin-right: 2px;
    border: 1px solid #b6b6b6;
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    display: inline-block;
    outline: none;
}
.btn_wr {
    height: 34px;
    vertical-align: top;
    _padding-top: 1px;
    display: inline-block;
}
.btn {
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    width: 95px;
    height: 32px;
    padding: 0;
    background: #ddd;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
}
.description {
    font-size: 12px;
    color: #888;
    margin: 0;
}
.sites {
    width: 700px;
    margin: 15px auto;
    padding: 4px;
    background: #fff;
    border: 2px solid #f2f2f2;
}
.sites dl {
    height: 36px;
    line-height: 36px;
    margin: 0;
    display: block;
}
.sites dl: nth-child(even) {
    background: #f8f8f8;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.sites dt, .sites dd {
    text-align: center;
    display: block;
    float: left;
}
.sites dt {
    width: 60px;
}
.sites dd {
    width: 90px;
    margin: 0;
}