@charset "utf-8";
@font-face{
    font-family: 'Inconsolata';
    src: local('Inconsolata'), url('/font/Inconsolata-Regular.ttf');
}
body {
    font-size: 14px;
    font-weight: normal;
    font-family: 'sans-serif';
    margin: 0;
    padding: 25px 0 0;
    vertical-align: baseline;
    background: #fff;
}
/* time */
#time-wr{
    user-select: none;
    width: max-content;
    margin: auto;
    padding-top:10vh;
    padding-bottom: 2rem;
}
#time-wr > time{
    font-size: 2.3rem;
    font-family: 'inconsolata';
    color: 233;
    opacity: .5;
}
a {
    text-decoration: none;
    color: #0d63e3;
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
}
a:hover {
 background-color: #C4E1FF;
}
.links {
    width: 700px;
    margin: 15px auto;
    padding: 2px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.search {
    display: flex;
    width: 700px;
    margin: 15px auto;
}
#search-input{
    /* display: block; */
    font-size: 16px;
    flex: 1 1 auto;
    height: 32px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #fefeff;
    border-radius: 3px;
    padding: 4px 8px;
    margin-right: 1rem;
    box-shadow: 0 1px 2px 0px #0003;
}
#search-input:hover,
#search-input:focus{
    box-shadow: 0 1px 2px 1px #0002;
}
.btn_wr {
    flex: 0 0 auto;
    min-width: max-content;
    margin: 0 auto 1rem auto;
    width: max-content;
    position: relative;
    display: inline-block;
}
.btn {
    padding: 6px 12px;
    min-width: 32px;
    min-height: 32px;
    box-shadow: 0 1px 2px 0px #0003;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #fefeff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    position: relative;
}
.btn:active{
    top: 1px;
    box-shadow: 0 1px 2px 0px #0002;
}
.description {
    font-size: 12px;
    color: #888;
    margin: 0;
}
.sites {
    box-sizing: border-box;
    width: 700px;
    margin: 15px auto;
    padding: 4px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px #0002;
}
.sites dl {
    height: 36px;
    line-height: 36px;
    margin: 0;
    display: block;
}
.sites dl:nth-child(even) {
    background: #f8f8ff;
    border-radius: 3px;
}
.sites dt, .sites dd {
    text-align: center;
    display: block;
    float: left;
}
.sites dt {
    width: 60px;
}
.sites dd {
    width: 90px;
    margin: 0;
}